#user_info p{
	text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
}

h4{
	float: left;
}

.linkright{
	float: right;
	margin-right: 0;
	margin-left: 10px;
}

#buttons{
	float: left;
	width: 100%;
}

.user_avatar_upload, .user_avatar_upload input {
   height: 30px;
   width: 100px;
}
.user_avatar_upload span{
    color: #333;
    float: left;
    margin: -23px 0 0 8px;
    text-shadow: 0 1px 0px #fff;
}

.user_avatar_upload:hover{
    background-color: #c5c5c5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c5c5c5), to(#cccccc)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #c5c5c5, #cccccc); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #c5c5c5, #cccccc); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #c5c5c5, #cccccc); /* IE10 */
    background-image:      -o-linear-gradient(top, #c5c5c5, #cccccc); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #c5c5c5, #cccccc);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c5c5c5', EndColorStr='#cccccc'); /* IE6–IE9 */
}

.user_avatar_upload {
    background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#cccccc)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #f1f1f1, #cccccc); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #f1f1f1, #cccccc); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #f1f1f1, #cccccc); /* IE10 */
    background-image:      -o-linear-gradient(top, #f1f1f1, #cccccc); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #f1f1f1, #cccccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#cccccc'); /* IE6–IE9 */
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 5px 0 0 5px;
}

.user_avatar_upload input {
   opacity: 0;
}

#user_edit{
	width: 780px;
	padding: 10px;
}

#user_editor{
	width: 930px;
	padding: 10px;
}

#user_list{
	width: 780px;
	padding: 10px;
}

#user_list ul{
	margin: 0;
	padding: 0;
}

#user_list li{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	cursor: pointer;
	list-style: none;
	max-height: 51px;
	width: 248px;
	background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f7f7f7, #f1f1f1); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #f7f7f7, #f1f1f1); /* IE10 */
  background-image: -o-linear-gradient(top, #f7f7f7, #f1f1f1); /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f1f1f1)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f7f7f7, #f1f1f1); /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #f7f7f7, #f1f1f1);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f7f7', EndColorStr='#f1f1f1'); /* IE6–IE9 */
    overflow: hidden;
}

#user_list li:hover{
  background-image: -moz-linear-gradient(top, #f7f7f7, #e5e5e5); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #f7f7f7, #e5e5e5); /* IE10 */
  background-image: -o-linear-gradient(top, #f7f7f7, #e5e5e5); /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e5e5e5)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e5e5e5); /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #f7f7f7, #e5e5e5);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f7f7', EndColorStr='#e5e5e5'); /* IE6–IE9 */
  box-shadow: 0 0 7px #ccc;
  -webkit-box-shadow: 0 0 7px #ccc;
  -ms-box-shadow: 0 0 7px #ccc;
}

#user_list span{
	float: left;
	font-size: 12px;
	color: #333;
	margin-right: 3px;
	position: relative;
}

.user_list_avatar img{
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 5px;
}

#user_info{
	padding: 10px;
	width: 200px;
	margin-right: 10px;
}

#user_info p{
	color: #333;
	background-color: #ddd;
	padding: 8px 0 8px 0;
	width: 240px;
	margin-left: -20px;
	margin-bottom: 0;
	margin-top: 5px;
	border: 1px solid #ccc;
	text-align: center;
	position: relative;
}

.desc_interesse{
    font-size: 15px;
    font-style: italic;
    margin-top: 20px;
    text-shadow: 0 1px 0px #fff;
    -webkit-text-shadow: 0 1px 0px #fff;
}

#user_info #descricao, #user_info #desc_interesse{
	text-align: left;
	background: #fff;
	width: 200px;
	margin: 5px 0 0 0;
	border: 0;
}

#user_info #descricao:after, #user_info #desc_interesse:after{
	background: none;
}

#username{
	text-align: center;
	padding-left: 0;
}

#user_info p:after{
	content:"";
	float: left;
    position:absolute;
	background: url(../images/user_backside.png) no-repeat;
	left: -1px;
	width: 240px;
	height: 10px;
}

.gecko #user_info p:after{
	top: 35px;
}

.opera #user_info p:after, .webkit #user_info p:after{
	top: 33px;
}

.img_property{
    border: 3px solid #fff;
}

.img_property img, .img_property_wait img, .img_property_ok img{
    width: 65px;
}

.img_property_wait{
	background-color: orange;
	border: 3px orange solid;
}

.img_property_ok{
	background-color: green;
	border: 3px green solid;
}

#info_list ul{
	padding: 0;
}

#info_list li{
	color: #333;
	list-style: none;
	background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff, #eee); /* FF3.6 */
    background-image: -ms-linear-gradient(top, #fff, #eee); /* IE10 */
    background-image: -o-linear-gradient(top, #fff, #eee); /* Opera 11.10+ */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #fff, #eee); /* Chrome 10+, Saf5.1+ */
    background-image: linear-gradient(top, #fff, #eee);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#eee'); /* IE6–IE9 */
    border: 1px solid #ddd;
    padding: 5px 0;
    margin: 0;
    text-align: center;
}

#info_list li:hover{
	background-image: -moz-linear-gradient(top, #fff, #e5e5e5); /* FF3.6 */
    background-image: -ms-linear-gradient(top, #fff, #e5e5e5); /* IE10 */
    background-image: -o-linear-gradient(top, #fff, #e5e5e5); /* Opera 11.10+ */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #fff, #e5e5e5); /* Chrome 10+, Saf5.1+ */
    background-image: linear-gradient(top, #fff, #e5e5e5);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#e5e5e5'); /* IE6–IE9 */
}

#info_list a{
    color: #333;
    font-size: auto;
}

#user_properties_ct{
    float: left;
    margin: 0 0 0 10px;
    width: 510px;
}

#user_details{
	width: 690px;
	padding: 10px;
	margin: 10;
}

#user_mail, #user_phone{
    background: url(../images/user_contacts.png) no-repeat;
	float: left;
	margin: -5px 0 0 5px;
	padding: 0;
	width: 24px;
	height: 24px;
}

#user_phone{
    background-position: 0px 0px;
}

#user_mail{
    background-position: 0px -24px;
}

#user_ads{
    float: right;
    width: 160px;
    background: #fff;
    height: 600px;
    margin: 20px 0 0 0;
}

.user_properties{
    background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #f9f9f9, #f1f1f1); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #f9f9f9, #f1f1f1); /* IE10 */
    background-image:      -o-linear-gradient(top, #f9f9f9, #f1f1f1); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #f9f9f9, #f1f1f1);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#f9f9f9'); /* IE6–IE9 */
    border: 1px #ddd solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
	float: left;
	width: 690px;
	height: 85px;
	margin: 0 0 5px 0;
	transition: box-shadow .5s ease;
    -webkit-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    cursor: pointer;
}

.user_properties:hover{
    box-shadow: 0 0 10px #999;
    transition: box-shadow .5s ease;
    -webkit-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
}

.user_properties p{
	float: left;
	margin: 0;
	font-size: 12px;
}

.info_user_property{
    float: left;
    text-align: center;
    width: 605px;
}

.info_user_property p{
    font-size: 11px;
}

.user_valor{
	background: url(../images/coins.png) no-repeat;
	background-position: left center;
	float: right;
	color: #0062d5;
	font-size: 13px;
	font-weight: bold;
	padding: 0 0 0 20px;
	margin: 5px 3px 0 5px;
	width: auto
}

.data_user_property{
    float: left;
    text-align: left;
}

.info_user_property h4{
    float: left;
    width: 340px;
    text-align: left;
    margin: 2px 0 0 0;
}

.right_data{
    float: right;
    width: 260px;
}

.right_data #imovel_publico{
    float: right;
    font-size: 12px;
    color: #222;
}

#pub_ate{
    font-size: 10px;
}

.user_property_actions{
    float: right;
    margin: -5px 5px 0 0;
}

.user_property_actions a, .user_property_actions p{
    background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ffffff, #cccccc); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, #ffffff, #cccccc); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #ffffff, #cccccc); /* IE10 */
  background-image:      -o-linear-gradient(top, #ffffff, #cccccc); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #ffffff, #cccccc);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#cccccc'); /* IE6–IE9 */
  border: 1px #ccc solid;
  color: #555;
  font-size: 12px;
  margin: 0 0 0 5px;
  text-shadow: 0 1px 0px #f1f1f1;
  padding: 3px 8px;
}

.user_property_actions a:hover, .user_property_actions p:hover{
    background-color: #0080e2;
  background-image: -moz-linear-gradient(top, #0080e2, #005799); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0080e2),color-stop(1, #005799)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#0080e2, #005799); /* Chrome 10+, Saf6 */
  background-image: linear-gradient(top, #0080e2, #005799);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0080e2', EndColorStr='#005799'); /* IE6–IE9 */
  border: 1px #0062d5 solid;
}

.edit_content, #new_password_fields{
	padding: 0 5px;
}

.hint{
	font-size: 11px;
	color: #555;
}

.edit_content input, #new_password_fields input, .edit_content textarea, .confirm_pass input{
	border: 1px #c3c3c3 solid;
	background: #E5E5E5; /* old browsers */
	background: -moz-linear-gradient(top, #E5E5E5 0%, #FFFFFF 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5E5E5), color-stop(50%,#FFFFFF), color-stop(100%,#FFFFFF)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5E5E5', endColorstr='#FFFFFF',GradientType=0 ); /* ie */
	padding: 5px;
	width: 220px;
}

.edit_content textarea{
	max-height: 150px;
}

#edit_avatar{
	float: left;
	width: 300px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#edit_avatar img{
	float: left;
	width: 100px;
}

#avatarinput{
	float: left;
	max-width: 200px;
}

#avatarinput p{
    font-size: 9px;
    margin-left: 4px;
}

#new_password{
	float: left;
	width: 300px;
	border: 1px solid #ccc;
	margin: 0;
	cursor: pointer;
}

#edit_info{
	width: 605px;
	height: 290px;
	float: right;
	border: 1px solid #ccc;
	background: #fff;
	margin-right: 10px;
	margin-top: 10px;
}

.edit_fields, .edit_fields1{
	float: left;
	margin-right: 10px;
	margin-left: 5px;
}

.edit_fields{
	width: 230px;
}

.edit_fields1{
	width: 330px;
}

.edit_fields1 input, .edit_fields1 textarea{
	width: 310px;
}

#publicar{
	background: #ace5ff;
	border-radius: 2px;
	padding: 1px 0 1px 5px;
	margin: 0;
}

#publicar input{
	width: 15px;
}

#edit_info, #edit_avatar, #new_password{
	border-radius: 5px;
}

.confirm_pass{
	width: 280px;
	background: #ace5ff;
	float: left;
	margin-top: 10px;
	padding: 1px 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.confirm_pass input{
	width: 265px;
}

#excluir{
	background: url(../images/delete.png) no-repeat;
	background-position: left center;
	float: right;
	position: relative;
	margin: 0;
	padding: 0 0 0 20px;
	margin: -46px 10px 0 0;
}

.boxp{
	width: 100%;
	background-color: #ddd;
	margin: 0;
	padding: 2px 0 2px 5px;
	font-size: 14px;
	font-weight: bold;
}

#cadastro{
	width: 950px;
}

#cadnew{
	float: left;
	padding: 10px;
	width: 400px;
}

#cadnew .field{
	float: none;
}

#cadnew #termos{
	font-size: 12px;
}

#infocad{
	float: left;
	padding: 10px;
	color: #222;
}

#infocad h1{
	font-size: 18px;
	font-weight: bold;
	color: #333;
	padding: 20px 0 20px 0;
}

#infocad h2{
	margin-bottom: 10px;
}

#infocad span{
	float: left;
	font-size: 12px;
	font-style: italic;
	color: #555;
}

#infocad p{
	background: url(../images/check.png) no-repeat;
	background-position: 0px -2px;
	padding-top: 5px;
	padding-left: 30px;
	margin: 0;
	height: 24px;
}

#form_login{
	width: 930px;
	padding: 10px;
}

#account_fields_f, #account_fields_r{
    float: left;
    width: 465px;
}

#account_fields_f{
    border-right: 1px solid #ccc;
    width: 464px;
}

#forgot_pass_div, #resend_confirmation{
    width: 300px;
    margin: auto
}

#campos{
	width: 310px;
	margin: auto
}

#campos .field{
	margin: 0;

}

#campos .link{
	margin-right: -12px;
	padding: 5px 20px;
}

#campos .field input{
	float: left;
	width: 300px;
}

#link_actions{
    float: left;
    padding: 0;
    margin: 0;
    width: 200px;
}

#forgot_pass, #registration{
	font-size: 13px;
	color: #777;
	padding: 0 0 0 20px;
	width: auto
}

#forgot_pass{
    float: right;
    background: url(../images/login_actions.png) no-repeat;
    background-position: 0px 0px;
    margin: 2px 0 5px 0;
}

#registration{
    float: left;
    background: url(../images/login_actions.png) no-repeat;
    background-position: 0px -16px;
    margin: 4px 0 5px 0;
}

#remember{
	margin-bottom: 0px;
}

.passos{
	color: #777;
	font-size: 12px;
	margin-bottom: 2px;
}

#quem_interessado{
    width: 100%;
    float: left;
    margin: 0 0 5px 0;
    padding: 0;
}

.int_list{
    display: inline;
    float: left;
    width: 930px;
    margin: 0;
    padding: 0;
}

.int_list li{
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.int_miniatura{
    float: left;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 75px;
    overflow: hidden;
    text-align: center;
    vertical-align: center;
}

.int_list li img{
    float: left;
    width: 50px;
    margin: 5px 7px 5px 0;
}

.list_avatars{
    float: right;
    width: 800px;
    height: 59px;
    background: #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 0 18px 0;
    padding: 5px 5px 5px 10px;
    overflow: hidden;
}

.list_avatars img:hover{
    box-shadow: 0 0 5px #333;
    -webkit-box-shadow: 0 0 5px #333;
}

.int_imovel{
    float: left;
    width: 100px;
}
.int_imovel p{
    color: #333;
    font-style: italic;
    font-size: 10px;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100px;
}

.int_imovel:after{
    float: right;
    content: '';
    position: relative;
    width: 0;
    height: 0;
    border: 12px solid;
    margin: -82px -17px 0 0;
    padding: 0;
    border-color: transparent #ccc transparent transparent;
}

.maisint{
    float: right;
    font-size: 12px;
    cursor: pointer;
    background: #ccc;
    margin: -14px 0 -4px 0;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    padding: 2px 5px 2px 5px;
    text-shadow: 0 1px 0px #fff;
    -webkit-text-shadow: 0 1px 0px #fff;
}

#interessados{
    background: #0062d5;
    border-radius: 25px 30px 200px 50px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 2px 0 2px 10px;
    margin: auto;
    width: 95%;
    text-shadow: 0 -1px 0px rgba(0,0,0, 0.4);
}

#interessados_hint{
    float: right;
    width: 16px;
    cursor: pointer;
    margin: 5px 0 0 0;
}

#per_page{
    float: right;
    margin: -30px 10px 0 0;
}

#per_page p{
    color: #333;
    float: left;
    font-size: 12px;
    margin: 0px 5px 0 0;
}

#per_page a{
    background: #ccc;
    border: 1px solid #ccc;
    color: #444;
    font-weight: bold;
    padding: 4px 3px;
    background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #f9f9f9, #f1f1f1); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #f9f9f9, #f1f1f1); /* IE10 */
    background-image:      -o-linear-gradient(top, #f9f9f9, #f1f1f1); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #f9f9f9, #f1f1f1);
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

#per_page a:hover{
    background: #0062d5;
    border: 1px solid #004ba2;
    box-shadow: 0 -5px 5px rgba(0,0,0, 0.2) inset;
    -webkit-box-shadow: 0 -5px 5px rgba(0,0,0, 0.2) inset;
    color: #fff;
}

#statuspag{
    float: right;
    font-size: 12px;
    margin: 0 2px 0 0;
    padding: 0;
    width: 100%;
    text-align: right;
}

#sem_imoveis_cadastre{
    float: left;
    background: #e5e5e5;
    width: 670px;
    padding: 2px 10px;
    font-size: 15px;
    border-radius: 5px;
}

#arrow_cadastre_imovel{
    float: left;
    background: url("../images/arrow_cadastre_imovel.png") no-repeat;
    margin: -15px 0 -30px 460px;
    width: 80px;
    height: 70px;
}

#explain_interessado{
    float: left;
    width: 500px;
}

#exemplo_interessado{
    float: right;
    background: url("../images/interessado.png") no-repeat;
    width: 150px;
    height: 75px;
    margin-right: 20px;
}

