<!DOCTYPE html>
<html>
<head>
  <title>Página não encontrada (404)</title>
  <%= stylesheet_link_tag "erro" %>
</head>
<body>
  <div id="conteudo">

    <div id="header">
      <h1>Opa! 404!</h1>
      <h2>Não conseguimos encontrar a página que você queria.</h2>
    </div>

    <div id="detalhes">
      <p>Por favor, tente novamente mais tarde.</p>
      <p>Sinta-se livre para entrar em <a href="mailto:suporte@achacasas.com">contato</a> conosco a qualquer momento.</p>
    </div>

    <%= link_to "Voltar", :back, {:id => "voltar"} %>

  </div>
</body>
</html>

