<!DOCTYPE html>
<html>
<head>
  <title>A mudança que você fez foi rejeitada | Acha-Casas</title>
  <%= stylesheet_link_tag "erro" %>
</head>
<body>
  <div id="conteudo">

    <div id="header">
      <h1>Opa!</h1>
      <h2>A mudança que você fez foi rejeitada.</h2>
      <h2>Talves você tentou mudar algo no qual não tem acesso.</h2>
    </div>

    <div id="detalhes">
      <p>Por favor, tente novamente mais tarde.</p>
      <p>Sinta-se livre para entrar em <a href="mailto:suporte@achacasas.com">contato</a> conosco a qualquer momento.</p>
    </div>

    <%= link_to "Voltar", :back, {:id => "voltar"} %>

  </div>
</body>
</html>

