<%= content_for :head do %>
    <% content_for :title do %>Andamento do pagamento - <% end %>
    <%= stylesheet_link_tag 'ctfull' %>
<% end %>
<div id="ctfull">
    <h1>Pagamento Confirmado!</h1>
    <p>Seu pagamento foi confirmado! Seu imóvel está à um passo de ficar público!</p>
    <p>Para acompanhar seu pedido, vá em seu perfil ou então acesse o PagSeguro.</p>
    <p><strong>Aviso:</strong></p>
	  <ul>
		  <li>Boleto leva cerca de 48 horas para ser compensado.</li>
		  <li>Cartões de crédito são analisados e podem levar até 48 horas para serem aprovados.</li>
		  <li>Não é necessário confirmar este pagamento.</li>
	  </ul>
    <p>Obrigado!</p>
</div>

